# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Mac
.DS_Store

# Python
*.py[cod]

# Flash
obj/
*.swf
*.as3proj

# TiTS
RECOVER_TITS.fla
RECOVER_style_uiscroll.fla
devTools/roomEd/main.spec